html.sap-desktop .sapMShellCentralBox {
    border-right: 0px solid #999999;
    border-left: 0px solid #999999;
}
.sapMShellBrandingBar {
    background-color: #427cac00;
}
.steelBG {
background-image: linear-gradient(to bottom, #000000, #030202, #070404, #0a0606, #0d0807);
	
}